Source: katalyzer
Section: unknown
Priority: extra
Maintainer: Andrej Kozemcak <akozemcak@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev
Standards-Version: 3.8.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/katalyzer.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/katalyzer.git;a=summary

Package: katalyzer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, apache2, php5, php5-cli, php5-geoip, mysql-server, imagemagick, dnsutils, whois
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
