#!/bin/bash
# Source debconf library.
. /usr/share/debconf/confmodule

#################################################################################
# Welcome
#################################################################################
#Ask question
db_input critical katalyzer/welcome
db_go

#################################################################################
# Ask for adding data to MySQL
#################################################################################
#Ask question
db_input critical katalyzer/sql_data
db_go

#################################################################################
# Ask for the MySQL password
#################################################################################
#Ask question
db_input critical katalyzer/sql_password
db_go

#################################################################################
# Ask for hss configuration
#################################################################################
#Ask question
db_input critical katalyzer/katalyzer_config
db_go

